{% extends 'base.html.twig' %}

{% block body %}
    <div class ="row">
        <div class="col-4">
         <h2>Register form</h2>
          {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
          {{ form_widget(form) }}

            <div class="form-group row">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

